docs/ export-ignore
requirements/ export-ignore
tests/ export-ignore
.envrc export-ignore
.pre-commit-config.yaml export-ignore
Makefile export-ignore
mypy.ini export-ignore
setup.cfg export-ignore
VERSION export-ignore
